/* General Styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic page styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Header styling */
header {
  text-align: center;
  margin: 20px 0;
}

h1 {
  font-size: 2em;
  color: #2c3e50;
  font-weight: 600;
}

/* Tracker container styling */
#tracker-container {
  max-width: 1500px;
  width: 95%;
  padding: 20px;
  margin: auto;
  display: flex;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Map container styling */
.map-cont {
  flex: 3; /* Increase the flex value for the map to take up more space */
}

#map {
  height: 500px;
  width: 100%;
  border-radius: 6px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Coordinates container styling */
.coordinates-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#coordinates {
  font-size: 1.2em;
  margin: 20px 5px;
}

#refreshButton {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: hsl(211, 100%, 50%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#refreshButton:hover {
  background-color: hsl(211, 100%, 35%);
}

#loading-spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  #tracker-container {
    flex-direction: column;
  }

  .map-cont,
  .coordinates-cont {
    width: 100%;
  }
}
